.main_header {
  height: 60px;
  display: flex;
  width: calc(100vw - 40px);
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 10;

  .main_header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    .hb_btn {
      cursor: pointer;
      border: none;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 8px;
      margin-right: 12px;
    }
  }

  .main_header_search {
    input {
      height: 40px;
      width: 400px;
      border-radius: 25px;
      padding: 0 8px 0 14px;
      border: 1px solid rgba(0, 0, 0, .2);
      font-size: 15px;
    }
  }

  .main_header_submenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .submenu_studio {
      border-radius: 25px;
      font-weight: bold;
      border: 1px solid rgba(0, 0, 0, .2);
      font-size: 13px;
      padding: 7px 14px;
      margin-right: 35px;
    }
    .submenu_icon {
      width: 40px;
      height: 40px;
      margin-left: 3px;
      display: flex;
      align-items: center;
    }
    #submenu_icon4 {
      margin-left: 30px;
    }
  }
}